.stretch-banner {
    text-align: left;
}

nav.menu {
    margin: 10px;
}

span.banner-header {
    display: block;
    float: left;
}

ul.h-menu {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}