.projects-table {
    display: block;
    width: 100%;
    /* height: 150%; */
    border-radius: 5px;
    padding: 5%;
    padding-top: 12%;
}

.projects-list {
    list-style: none;
}

.project-container {
    margin: 5%;
    transition: all 1s;
}

.project-name{
    text-align: left;
    white-space: normal;
    border-bottom: 1px solid var(--second-light);
    color: var(--main-light);
}

.project-list-container {
    border: 2px solid var(--main-light);
}

.project-list {
    list-style: none;
    text-align: left;
    font-size: 150%;
    color: var(--main-light);
}

.project-list-item {
    opacity: 1;
    /* font-size: 150%; */
    color: var(--second-light);
}

.description {
    white-space: normal;
}

.project-link-container{
    width: 30%;
    /* height: 100%; */
    transition: all 1s;
    border-bottom: 1px solid;
    text-align: left;
    text-decoration: none;
    color: var(--second-light);
    margin: 1%;
}

.project-link-container:hover{
    width: 0%;
    color: var(--middle);
}


.project-link {
    color: inherit;
    text-decoration: none;
    transition: all 1s;
}

.project-link:hover {
    width: 0%; 
    text-decoration: none;
    color: var(--second-dark);
    font-style: oblique;
}

