
.banner {
    background-color: transparent;
}

.banner-header {
    float: left;
    background-color: inherit;
}

.banner-title {
    font-size: 5vh;
    background-color: inherit;
}

.banner-body {
    /* padding: 1vh; */
    float: left;
    background-color: inherit;
}

.banner-menu-list {
    float: left;
    list-style: none;
    background-color: inherit;
}

.banner-menu-item {
    float: left;
    padding: 1vh;
    background-color: inherit;
    font-size: 2vw;
}

.menu-button {
    padding: 1vh;
    color: #F3DFC1;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #160F29;
    transition: border-bottom .5s, background-color 1s, margin 1s;
}

.menu-button.active {
    border-bottom: 1px solid #DDBEA8;
}

.menu-button:hover {
    background-color: #368F8B;
    margin: 1vh;
    text-decoration: none;
    color: #DDBEA8;
}
